@media print {
    table { page-break-inside:auto };

    .wrapper { background: #fff !important;}
    
    
    .table-bordered th {
        border: 3px solid #000 !important;
    }
    .table-bordered td {
        border: 3px solid #000 !important;
    }    
}